@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Merriweather&display=swap');

/* Base CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: bisque;
}

#menu {
    background-color: rgb(7, 6, 78);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;

}

body {
    background-color: rgba(99, 7, 7, 0.57);
    font-family: 'Gentium Book Plus', serif;
}

.menu {
    background-color: red;
    font-family: 'Merriweather', serif;
}

/* footer */
footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: blueviolet;
  }
/* Links to social media */
footer.ul {
    display: grid;
    flex-direction: row;
}

.social-networks.ul {
    display: grid;
    flex-direction: row;
}

.social-networks.ul:hover {
    background-image: none;
    transition: transform 150ms;
    transform: scale(1.05);
    cursor: pointer;
}

.container-fluid {
    width: 100%;
}

.post {
    margin-bottom: 20px;
}

.img-thumbnail {
    max-width: 400px;
    max-height: 400px;
}