{% extends "blog/base.html" %}

{% block title %}Post Detail{% endblock %}

{% block content %}
    
        <div class="post border-bottom mb-6">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h2>{{ post.title }}</h2>
            <p>{{ post.text }}</p>
            {% for comment in comments %}
                <div class="comment">
                    <p>{{ comment.body }}</p>
                    <p>by {{ comment.name }}, {{ comment.created }}</p>
                </div>
            {% endfor %}
        </div>

        <div class="mb-6">
            <div style="margin: 10px">
                <form method="post" action="{% url 'add_comment' pk=post.pk %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="addcomment">Add a comment:</label>
                        <textarea class="form-control" id="addcomment" name="body" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

{% endblock %}