{% extends 'blog/base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    Welcome {{ user.username }} To the BookBlog Website!

    <div class="container-fluid">
        <div class="row justify-content-evenly">  
            <!-- Book Entries Column -->
            {% for post in posts %}
                <div class="col-md-4"><img src="{{ post.cover.url }}" class="img-thumbnail" alt="{{ post.title }}"><h2>{{ post.title }}</h2>
                <p>{{ post.text }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    
{% else %}
    <p>sorry! you have not logged in correctly </p>
    <a href="{% url 'login' %}">Log in Here</a>
  
{% endif %}
{% endblock %}