{% extends 'blog/base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    Welcome {{ user.username }} To the BookBlog Website!
    <div class="container-fluid">
        <div class="row">
<br>    
            <!-- Book Entries Column -->
            <div class="col-12 mt-3 left">
                <div class="row">
                {% for post in posts %}
                </br>
                <div class="row justify-content-evenly">
                    <div class="col-md-4"><div class="p-3 border bg-light"></div><img src="{{ post.cover.url }}" class="img-thumbnail" alt="..."><h2>{{ post.title }}</h2>
                    <p>{{ post.text }}</p>
                    <img src="{{ post.cover.url }}">
                  </div></div>
                    <div class="col-md-4"><div class="p-3 border bg-light"></div><img src="{{ post.cover.url }}" class="img-thumbnail" alt="..."><h2>{{ post.title }}</h2>
                    <p>{{ post.text }}</p>
                    <img src="{{ post.cover.url }}">
                  </div></div>
                    <div class="col-md-4"><div class="p-3 border bg-light"></div>col 3</div>
                    <div class="col-md-4"><div class="p-3 border bg-light"></div>col 4</div>
                    <div class="col-md-4"><div class="p-3 border bg-light"></div>col 5</div>
                    <div class="col-md-4"><div class="p-3 border bg-light"></div>col 5</div>
                
<!-- To make image into a thumbnail -->            
<img src="..." class="img-thumbnail" alt="...">

<!-- To align images together -->


<!--                  <h2>{{ post.title }}</h2>
                  <p>{{ post.text }}</p>
                  <img src="{{ post.cover.url }}">
                </div> -->
                
                {% if forloop.counter|divisibleby:4 %}
                <div class="row">
                {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
{% else %}
    <p>sorry! you have not logged in correctly </p>
    <a href="{% url 'login' %}">Log in Here</a>
  
{% endif %}
{% endblock %}